<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "TestVagrant">
	<test name = "verify weather reporting from 2 sources">
		<classes>
			<class name = "com.weatherreporting.testcases.VerifyWeatherInformation" />
		</classes>
	</test>
</suite>